<div class="bg-footer-gray pt-14 text-center text-slate-50">
    <div class="width sm:w-39% mx-auto w-9/12 max-w-full">
      <p>
        Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit
        nullam nunc justo sagittis suscipit ultrices.
      </p>
    </div>
  
    <div class="flex pb-9 gap-1 justify-center pt-20 pb-12">
      <div class="div">
        <a href="#" class="underline text-sky-400"> website Templates</a>
      </div>
      <div class="">
        <p>created with</p>
      </div>
  
      <div class="">
        <a href="#" class="underline text-sky-400">Website Builder Software </a>
      </div>
    </div>
  </div>
  