<div class="bg-light-gray">
  <div class="w-[1326px] max-w-full mx-auto">
    <div class="sm:flex sm:p-11 p-8">
      <div class="sm:pl-7 pb-7 pt-7 flex-1 ">
        <h2 class="not-italic text-4xl font-bold lg:w-10/12	">
          Be mindful – take your time and notice what you eat
        </h2>
        <div class="sm:w-80 w-64 h-3 bg-dark-purple mt-10 "></div> 
        <p class="text-xl leading-8 tracking-wider  sm:pr-4 lg:pr-12 text-justify pt-8">
          Dui ut ornare lectus sit amet est placerat. Diam phasellus vestibulum
          lorem sed risus. Amet commodo nulla facilisi nullam vehicula ipsum.
          Amet consectetur adipiscing elit pellentesque. In ante metus dictum at
          tempor commodo ullamcorper. Sapien eget mi proin sed libero enim sed
          faucibus. Iaculis eu non diam phasellus. Elit eget gravida cum sociis
          natoque. Quis vel eros donec ac odio.
        </p>

        <div class="pt-9">
          <a>
            <button
              class="pt-2 pb-2 pr-14 pl-14 leading-10 font-bold tracking-widest uppercase hover:bg-footer-gray font-pt-sans bg-dark-purple text-white"
            >
              read more
            </button>
          </a>
        </div>
      </div>

      <div class="bg-white flex-1 sm:p-4 p-4 lg:p-8 flex flex-col sm:justify-end sm:pt-0 pt-10 mt-10 sm:mt-0">
        <div class="w-24 h-24 rounded-full bg-custom-light-purple"></div>

        <div class="">
            <p class="text-xl leading-8 sm:leading-9 tracking-widest pt-14">
            Orci nulla pellentesque dignissim enim sit amet venenatis. In mollis
            nunc sed id semper. Adipiscing commodo elit at imperdiet. Fermentum
            dui faucibus in ornare. Urna et pharetra pharetra massa massa
            ultricies mi quis.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
