<div
  class="bg-[url('/assets/images/intro.jpeg')] object-cover h-730px bg-cover bg-center-center flex max-w-full w-full justify-center"
>

<div class="flex w-[1326px] ">
    <div class="m-custom lg:w-5/12 sm:w-10/12 lg:pl-0 lg:pr-0 sm:pl-20 sm:pr-20 pl-10 pr-10 w-full">

 

    <div class="text-white sm:pr-10 pt-16">
        <h1 class="sm:text-6.25 text-7xl font-bold ">health</h1>
        <h6 class="text-lg pt-12	font-bold">Time to Get Healthy & Active</h6>
        <p class="pt-6 leading-7">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <div class="pt-10">
          <a>
            <button class="pt-2 pb-2 pr-14 pl-14 leading-10 font-bold tracking-widest uppercase bg-white text-custom-purple font-pt-sans hover:bg-custom-light-purple hover:text-white">read more</button>
          </a>
        </div>
      </div>
    </div>
</div>

</div>
