<div class="w-1326px max-w-full mx-auto pt-32 pb-28 sm:pr-4 sm:pl-4">
  <h2 class="sm:text-6xl text-4xl text-dark-purple font-bold text-center">
    Seasonal Fruits & Veg
  </h2>
  <p class="italic text-center pt-6">
    Organic food is food produced by methods that comply with the standards of
    organic farming.
  </p>

  <div class="w-1326px flex flex-wrap p-8 max-w-full pt-10 mx-auto">
    <div class="w-full md:md:px-4 px-0 px-0 md:w-1/2 lg:w-1/3 pt-6">
        <img src="https://images03.nicepage.com/c461c07a441a5d220e8feb1a/315665653d77597497fba19a/1.jpg">
    </div>

    <div class="w-full md:md:px-4 px-0 px-0 md:w-1/2 lg:w-1/3 pt-6 ">
        <img src="	https://images03.nicepage.com/c461c07a441a5d220e8feb1a/b9950f2c4b36587f9ae927d2/2.jpg">
    </div>

    <div class="w-full md:md:px-4 px-0 px-0 md:w-1/2 lg:w-1/3 pt-6 sm:pt-8">
        <img src="https://images03.nicepage.com/c461c07a441a5d220e8feb1a/40926b86a8625f7a8558c8cc/3.jpg">
    </div>

    <div class="w-full md:md:px-4 px-0 px-0 md:w-1/2 lg:w-1/3 pt-6 lg:pt-8 sm:pt-8">
        <img src="	https://images03.nicepage.com/c461c07a441a5d220e8feb1a/185513aaae385013b05ac862/8.jpg">
    </div>

    <div class="w-full md:md:px-4 px-0 px-0 md:w-1/2 lg:w-1/3 pt-6 lg:pt-8 sm:pt-8">
        <img src="https://images03.nicepage.com/c461c07a441a5d220e8feb1a/bec11359999e5a7988301389/5.jpg">
    </div>

    <div class="w-full md:md:px-4 px-0 px-0 md:w-1/2 lg:w-1/3 pt-6 lg:pt-8 sm:pt-8">
        <img src="	https://images03.nicepage.com/c461c07a441a5d220e8feb1a/f67c2236006654b4a18ebace/83.jpg">
    </div>
    

  </div>
</div>
